.srk-body {
    $padding-size: 60px;
    $usable-width: 800px;

    max-width: $usable-width + $padding-size;
    margin: auto;
    padding: 0 $padding-size;
    box-sizing: border-box;
    margin-bottom: 4em;

    @media (max-width: 500px) {
        padding: 0 $padding-size - 40px;
    }
}
