.srk-cv {
    margin-top: 60px;

    @media print {
        margin-top: 0;
    }

    &-header {
        font-family: 'Overpass Mono', monospace;
        margin: 2em 0 1em 0;
        &-title {
            font-size: 2.6em;
            display: block;
        }
        &-subtitle {
            margin-top: 5px;
            display: block;
            font-size: 1.3em;
        }
    }

    &-description {
        font-family: 'Overpass Mono', monospace;
        font-size: 1.2em;
        line-height: 1.2em;
        
        p {
            margin: 1em 0;
        }
    }

    &-position {
        margin: 0 15px;

        &-text {
            font-family: 'Merriweather', serif;
            line-height: 1.6em;
            
            p {
                margin: 1em 0;
            }
        }
    }

    section {
        h2 {
            font-family: 'Overpass Mono', monospace;
            margin: 2em 0 1em 0;
            font-size: 1.7em;
            @media print {
                margin-top: 1.5em;
            }
        }
        h3 {
            font-family: 'Overpass Mono', monospace;
            margin: 2em 0 1em 0;
            font-size: 1.4em;

            small {
                display: block;
                font-size: .8em;
                margin-top: 0.3em;
            }
        }
    }

    ul {
        font-family: 'Overpass Mono', monospace;
        list-style: square;
        margin: 30px 15px;
        padding: 0 0 0 20px;

        li {
            margin: .6em 0;
            line-height: 1.2em;
            word-wrap: break-word;

            ul {
                margin: 0 15px;
            }
        }
    }

    b {
        color: #ff4500;
    }
    
    a {
        color: #ff4500;
        padding: .2em 0 0 0;

        &:hover {
            color: white;
            text-decoration: none;
            background-color: #ff4500;
        }
    }
}
