@keyframes tick {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 0;}
}

.srk-tick {
    animation-name: tick;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
    animation-iteration-count: infinite;
}
