.srk-topbar {
    height: 60px;
    background-color: #fdfdfd;
    
    &-content {
        height: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-title {
        margin-top: .2em;
        font-family: 'Overpass Mono', monospace;
        text-rendering: optimizeLegibility;
        font-size: 2em;
        text-decoration: none;
        color: inherit;

        &-underscore {
            color: #ff4500;
        }
    }
}
