.srk-topbar {
    $topbar-height: 80px;
    height: $topbar-height;
    background-color: #fdfdfd;
    
    &-content {
        height: $topbar-height;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &-title {
        margin-top: .2em;
        font-family: 'Overpass Mono', monospace;
        text-rendering: optimizeLegibility;
        font-size: 2em;
        text-decoration: none;
        color: inherit;

        &-underscore {
            color: #ff4500;
        }
    }
}
