<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}{% block title %}{% endblock %}</title>
  <link rel="me" href="{{AUTHOR_MASTODON_URL}}">
  <link rel="stylesheet" href="/codehilite.css">
  <link rel="stylesheet" href="/style.css">
  {% block header %}{% endblock %}
</head>

<body>

  <div class="sn-container">
    <header class="sn-header">
      <a href="/" class="sn-discrete-link">{{TITLE}}</a>
      <ul class="sn-header-menu">
        <li><a href="/">home</a></li>
        <li><a href="/about.html">about</a></li>
      </ul>
    </header>

    <article>
      {% block content %}{% endblock %}
    </article>

    <footer class="sn-footer"></footer>
  </div>

</body>

</html>