<div class="srk-header-wrapper">
    <div class="srk-header">
        <div>
            <div class="srk-header-menu">
                <a class="srk-header-menu-item" href="/projects">[projects]</a>
                <a class="srk-header-menu-item" href="/about">[about]</a>
            </div>
        </div>
        <div>
            <div class="srk-header-title">
                <p><%= data.settings.me.name %></p>
                <p><%= data.settings.me.surname[0] %></p>
                <p><%= data.settings.me.surname[1] %><span class="srk-header-title-underscore srk-tick">_</span></p>
            </div>
            <div class="srk-header-image">
                <img src="assets/avatar.png" draggable="false">
            </div>
        </div>
        <div>
            <div class="srk-header-subtitle">
                <p>// a.k.a. <%= data.settings.me.alias %></p>
            </div>
        </div>
    </div>
</div>
