<div class="srk-topbar">
    <div class="srk-body">
        <div class="srk-topbar-content">
            <a href="/" class="srk-topbar-title">Sirikon<span class="srk-topbar-title-underscore srk-tick">_</span></a>
            <div class="srk-topbar-menu">
                <a class="srk-topbar-menu-item <%= currentLink === 'projects' ? 'srk-topbar-menu-item--current' : '' %>" href="/projects">[projects]</a>
                <a class="srk-topbar-menu-item <%= currentLink === 'about' ? 'srk-topbar-menu-item--current' : '' %>" href="/about">[about]</a>
                <a class="srk-topbar-menu-item <%= currentLink === 'cv' ? 'srk-topbar-menu-item--current' : '' %>" href="/cv">[cv]</a>
            </div>
        </div>
    </div>
</div>
