<html>
    <head>
        <title><%= params.post.meta.title %> | sirikon.me</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="theme-color" content="#ff4500">
        <link href="https://fonts.googleapis.com/css?family=Overpass+Mono|Merriweather:400,700" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="srk-topbar">
            <div class="srk-body">
                <div class="srk-topbar-content">
                    <a href="/" class="srk-topbar-title">Sirikon<span class="srk-topbar-title-underscore srk-tick">_</span></a>
                </div>
            </div>
        </div>

        <div class="srk-body">
            <article class="srk-article">
                <%- params.post.html %>
            </article>
        </div>
    </body>
</html>

