{% extends "_templates/base.html" %}

{% block content %}
<h1>Bananantonia</h1>
<ul>
  <li>Luz: Sin limite</li>
  <li>Riego: Habitual. Sustrato húmedo siempre. Pulverizar agua en las hojas.</li>
  <li>Temperatura: 22º - 26º</li>
  <li><a href="https://verdecora.es/blog/cuidados-platanera-interior#1_Riego_abundante_y_constante_uno_de_los_cuidados_de_la_platanera_fundamentales">Info</a></li>
</ul>
<h1>Marlo (fuente dudosa)</h1>
<ul>
  <li>Luz: Sin limite</li>
  <li>Riego: Poco habitual (En la práctica, regándola todos los días está bien)</li>
  <li>Temperatura: 0º - 41º</li>
  <li><a href="https://www.picturethisai.com/es/care/Euphorbia_pulvinata.html">Info</a></li>
</ul>
<h1>Poto (fuente dudosa)</h1>
<ul>
  <li>Luz: 3h max</li>
  <li>Riego: Mantener nivel del agua y que esté limpia</li>
  <li>Temperatura: 25º - 32º (otras fuentes 16º - 21º)</li>
  <li><a href="https://www.picturethisai.com/es/wiki/Epipremnum_aureum.html">Info</a></li>
</ul>
{% endblock %}
