<html>
    <head>
        <title>Sirikon.me</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta name="theme-color" content="#ff4500">
        <link href="https://fonts.googleapis.com/css?family=Overpass+Mono" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="srk-header-wrapper">
            <div class="srk-header">
                <div>
                    <div class="srk-header-title">
                        <p>Carlos</p>
                        <p>Fernández</p>
                        <p>Llamas<span class="srk-header-title-underscore srk-tick">_</span></p>
                    </div>
                    <div class="srk-header-image">
                        <img src="assets/avatar.png" alt="Avatar" draggable="false">
                    </div>
                </div>
                <div>
                    <div class="srk-header-subtitle">
                        <p>// a.k.a. Sirikon</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="srk-body">
            <% Object.keys(data.posts).forEach((postKey) => { %>
                <div class="srk-article-resume">
                    <% const post = data.posts[postKey] %>
                    <div>
                        <a href="/posts/<%= postKey %>.html" class="srk-article-resume-title"><%= post.meta.title %></a>
                    </div>
                    <h3 class="srk-article-resume-date"><%= post.meta.date %></h3>
                </div>
            <% }) %>
        </div>

    </body>
</html>
