@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

html, body, .srk-layout {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.srk-sidemenu {
	background-color: #2c3e50;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 160px;
}

.srk-sidemenu-header {
	background-image: url(../img/header-bg.png);
	background-size: contain;
	background-position: right top;
	padding: 35px;
}

.srk-sidemenu-header img {
	max-width: 100%;
}

.srk-main-container {
	position: absolute;
	top: 0;
	left: 160;
	bottom: 0;
	width: calc(100% - 160px);
}

.srk-main-container > article {
	padding: 1px 2em;
	font-size: 1.3em;
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
	color: rgba(0, 0, 0, .8);
}

.srk-main-container > article p,
.srk-main-container > article ul {
	line-height: 1.58em;
	text-align: justify;
}

.srk-main-container > article h1,
.srk-main-container > article h2,
.srk-main-container > article h3,
.srk-main-container > article h4,
.srk-main-container > article h5,
.srk-main-container > article h6 {
	font-family: "Open Sans", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
	font-size: 1.65em;
}