<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Personal website of {{AUTHOR_NAME}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{TITLE}}{% block title %}{% endblock %}</title>
  <link rel="me" href="{{AUTHOR_MASTODON_URL}}">
  <meta name="fediverse:creator" content="{{AUTHOR_MASTODON_HANDLE}}" />
  <link rel="stylesheet" href="/static/codehilite.css?v={{CACHE_BUSTER}}">
  <link rel="stylesheet" href="/static/style.css?v={{CACHE_BUSTER}}">
  <link rel="icon" href="data:image/png;base64,iVBORw0KGgo=">
  {% block header %}{% endblock %}
</head>

<body>

  <div class="sn-container">
    <header class="sn-header">
      <a href="/" class="sn-discrete-link">{{TITLE}}</a>
      <ul class="sn-header-menu">
        <li><a href="/">home</a></li>
        <li><a href="/about.html">about</a></li>
      </ul>
    </header>

    <article>
      {% block content %}{% endblock %}
    </article>

    <footer class="sn-footer"></footer>
  </div>

</body>

</html>